/* @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,700&family=Fira+Sans&display=swap');
body {
    font-family: 'Dosis', sans-serif;
    font-size: 16px;
    line-height: 1;
    background: #F2F0E6;
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #2D2926;
    border-left: 1px solid #2D2926;
    padding: 10px;
}

.jumbotron-fluid {
    text-align: center;
    color: #2D2926;
    border-radius: 0;
    border-bottom: 5px solid #2d2926;
    font-weight: 400;
    margin-bottom: 25px;
    padding: 32px;
    background: #E9E8E0;
}

h1 {
    font-family: 'Cormorant', serif;
    font-size: 4rem;
}

#currentDay {
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
}

.time-block {
    text-align: center;
    border-radius: 0px 100px 100px 0px;
}

.row {
    font-family: 'Fira Sans', sans-serif;
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid #E9E8E0;
}

.hour {
    font-family: 'Fira Sans', sans-serif;
    border-top: 1px dotted #2D2926;
    background-color: #F2F0E6;
    color: #2D2926;
}

.past {
    background-color: #b8b8b6;
    color: #E9E8E0;
}

.present {
    background-color: #FE5442;
    color: #DDD5C7;
}

.future {
    background-color: #fff;
    color: #2D2926;
}

button {
    border: none;
    outline: none;
    box-shadow: 8px 0px 8px -5px grey;
}

.saveBtn {
    border-left: 2.5px solid #2d2926;
    border-right: 3px solid #2d2926;
    border-radius: 0px 50px 50px 0px;
    background-color: #2d2926;
    color: #E9E8E0;
}

.saveBtn i:hover {
    font-size: 25px;
    transition: all 0.2s ease-in-out;
}